<!-- Content With Navigation And Toolbar-->
@if (showNavigation() && showToolbar()) {
<div class="flex">
	<ng-container *ngTemplateOutlet="navigationbar" />
	<div class="grow flex-col">
		<ng-container *ngTemplateOutlet="toolbar" />
		<ng-container *ngTemplateOutlet="content" />
	</div>
</div>
}

<!-- Content With Navigation -->
@if (showNavigation() && !showToolbar()) {
<div class="flex">
	<ng-container *ngTemplateOutlet="navigationbar" />
	<ng-container *ngTemplateOutlet="content" />
</div>
}

<!-- Content With Toolbar-->
@if (!showNavigation() && showToolbar()) {
<div class="flex-col">
	<ng-container *ngTemplateOutlet="toolbar" />
	<ng-container *ngTemplateOutlet="content" />
</div>
}

<!-- Content -->
@if (!showNavigation() && !showToolbar()) {
<ng-container *ngTemplateOutlet="content" />
}

<ng-template #content>
	<router-outlet />
</ng-template>

<ng-template #navigationbar>
	<app-navigation-bar />
</ng-template>

<ng-template #toolbar>
	<app-tool-bar />
</ng-template>
